<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'IMG/favicon-32x32.png' %}">
        <link href="../style.css" rel="stylesheet" type="text/css">
        
        
        <!-- cdn pour les scripts qui permet a bootstrap de fonctionner bien -->
        
        <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <!--Script FontAwesome free-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        
        <title>Page d'inscription association</title>
        <style>
            body {
                background-color: lightgrey;
            }
        </style>
        </head>
        
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #3563a9;">
                <a class="navbar- " href="{% url 'page_asso' %}">
                    <img src="../img/logo fessef.jpg" width="50" height="50" class="d-inline-block align-top" alt=""
                        style="border-radius: 50%;">
                    </b>
                </a>
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto" style="margin-right: 75px; justify-content: end;">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="../index.html">
                                <i class="fas fa-plus"></i>
                                Actualite
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="../chat/chatHome.html">
                                <i class="fas fa-envelope"></i>
                                Messages <span class="badge badge-light">4</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="../etpse/home.html">
                                <i class="far fa-eye"></i>
                                Annonce
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="../xamxam/xamxam.html">
                                <i class="fas fa-school"></i>
                                Xamxam
                            </a>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 80px;">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="../association/pages.html">Page</a>
                                <a class="dropdown-item" href="{% url 'change_password' %}">Editer mots de passe</a>
        
                                <div class="dropdown-divider"></div>
        
                                <form action=" {% url 'logout' %}" method="POST"
                                    class="dropdown-item text-black-50 text-center">
        
                                    <input type="submit" value="Deconnexion" class="btn btn-sm btn-danger">
                                </form>
        
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

    
    
    
    
    
    <div class="container mt-4">
        <div class="row ">
            <div class="col-md-3 mt-4"></div>
    
            <div class="col-md-6 mt-4">
                <div class="card mt">
                    <img src="../img/logo fessef.jpg" class="card-img-top" alt="..." width="1000" height="300">
                    <div class="card-body">
    
    
    
    
                        <!-- section du formulaire -->
                        <form action="registration.html" method="POST">
    
    
    
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" value="  "
                                    placeholder="Email" required="required">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" value=""
                                    placeholder="Nom d'utilisateur" required="required">
                            </div>
                            <br>
    
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="" placeholder="Nom"
                                    required="required">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Mots de passe"
                                    required="required">
                            </div>
    
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password2"
                                    placeholder="Confirmer votre mots de passe" required="required">
                            </div>
                            <br>
                            <input type="submit" value="S'inscrire" class="btn btn-block  " 
                                style="background-color: #3563a9; color:#fff;">
    
                        </form>
    
                    </div>
                </div>
    
                <div class="card mt-4">
                    <div class="card-body  text-center">
                        Vous avez déjà un compte ? <a href="login.html">Se connecter</a>
                    </div>
                </div>
    
            </div>
    
            <div class="col-md-3 mt-4"></div>
        </div>
    </div>

</body>

</html>